/**
 * @name SimplethemeV2
 * @description Simple discord theme with apple emojis (special thanks to theme develepors on bedder discord server)
 * @author Pepponis
 * @version 1.4
 * @authorId 706932839907852389
*/


/****ADDONS****/
@import url(https://nikospepponis.github.io/links/den-xero-ti-kanoyn.theme.css);
@import url(https://thomasthanos.github.io/Simple_discord_theme_V2/SimplethemeV2.theme.css);


.wrapper-NhbLHG {
    --fluent-icons-color: cyan;
  }
  .wrapper-NhbLHG.modeMuted-2T4MDZ {
    --fluent-icons-color: rgb(206, 0, 0);
  }
  .wrapper-NhbLHG.modeUnread-3Cxepe {
    --fluent-icons-color: var(--interactive-active);
  }
  
  .link-1_kTxV path {
    display: none;
  }
  .link-1_kTxV svg {
    background: var(--fluent-icons-color);
}

